<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/css/Chart.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>Sales Dashboard</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <header><h1>Sales Dashboard</h1></header>
      </div>
      <div class="row">
        <div class="col-md-auto">
          <section>
            <h2 id="datestamp">{{}}:</h2>
            Data for the period:
            <div>
              <span id="rangeStartDate"></span> -
              <span id="rangeEndDate"></span>
            </div>
            <div><span id="totalRevenue"></span> SEK</div>
            <div><span id="noOfOrders"></span> orders</div>
            <div><span id="noOfCustomers"></span> customers</div>
          </section>
        </div>
        <div class="col-md">
          <div style="width:75%;">
            <canvas id="canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/Chart.min.js"></script>
    <script>
      window.onload = function() {
        loadRangeData();
      };
    </script>
  </body>
</html>
